<%= form_for(@profile, url: profiles_path) do |f| %>
  <div class="maven-container-profile-dp">
    <div class="text-center" data-controller="preview-avatar">
      <% if @profile.avatar.attached? %>
        <label class="dp-wrapper">
          <%= image_tag(@profile.avatar_variant, class: 'mb-3') %>
        </label>
      <% else %>
        <label data-action="click->preview-avatar#selectavatar">
          <%= image_tag('default-avatar.png', class: 'mb-3') %>
        </label>
      <% end %>
      <%= f.file_field :avatar, class: 'd-none', data: { preview_avatar_target: 'input', action: "preview-avatar#displayAvatarPreview" } %>

      <%= f.hidden_field :crop_avatar_x %>
      <%= f.hidden_field :crop_avatar_y %>
      <%= f.hidden_field :crop_avatar_w %>
      <%= f.hidden_field :crop_avatar_h %>

      <div class="text-center mb-3">
        <label class="maven-container-profile-dp-edit" data-action="click->preview-avatar#selectAvatar">
          <i class="bi bi-pencil-fill"></i>
        </label>
      </div>
      <%= render 'layouts/profiles/avatar_upload_modal', f: f %>
    </div>

  </div>
<% end %>
